<button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="{{ dataBsTarget }}">
    <img src="{{ asset('pictures/delete.png') }}" width="20px;" alt="delete">
    <span>Supprimer</span>
</button>
