<div class="mt-4 text-center">
    <button type="submit" class="btn btn-primary btn-lg">
        <img src="{{ asset('pictures/save.png') }}" style="width: 28px;" alt="save">
        <span class="align-middle">Enregistrer</span>
    </button>
</div>