<div class="mb-3">
    <div class="d-flex align-items-center gap-3">
        <img src="{{ srcPicture }}" alt="{{ altPicture }}" class="img-thumbnail" style="max-height: 80px;">
        {% include 'admin/partials/components/_button_delete.html.twig' with {'dataBsTarget': '#' ~ modalId} %}
    </div>
</div>