{% for label, messages in app.flashes %}
    <div class="alert alert-{{ label }} alert-dismissible fade show position-absolute top-0 start-50 translate-middle-x mt-3 py-2">
        {{ messages | join('. ') }}
        <button type="button" class="btn-close pt-1 pe-0" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
