{% extends 'Admin/baseAdmin.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialisez votre mot de passe</h1>

    <div class="mb-3 row">
        <small>
            Entrez votre adresse e-mail afin de recevoir le lien de reinitialisation de votre mot de passe.
        </small>
    </div>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}

        <button class="btn btn-primary">Réinitialiser le mot de passe</button>
    {{ form_end(requestForm) }}
{% endblock %}
