<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('icones/logo_admin.ico') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app_admin') }}{% endblock %}
            {% if user is defined %}
                <script>
                    document.addEventListener("turbo:submit-end", function(event) {
                        if (event.detail.success) {
                            Turbo.visit("{{ path('app_user_header', {'id': user.id}) }}", { frame: "user_header" });
                        }
                    });
                </script>
            {% endif %}
        {% endblock %}
    </head>
    <body>
        {% include 'Admin/partials/_header.html.twig' %}
        <div class="container mt-4">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
