{% extends 'Admin/baseAdmin.html.twig' %}

{% block title %}Administration - Accueil{% endblock %}

{% block body %}
    <h1>Administration du portfolio de {{ user.firstname | capitalize }}</h1>

    {% include 'partials/user.html.twig' %}

    {% include 'partials/skills.html.twig' %}

    {% include 'partials/projects.html.twig' %}

    {% include 'partials/quotes.html.twig' %}

{% endblock %}
