{% extends 'Admin/baseAdmin.html.twig' %}

{% block title %}Administration - Accueil{% endblock %}

{% block body %}
    {% include 'partials/user.html.twig' %}

    <div class="accordion mt-4" id="accordionPortfolio">
        <div class="accordion-item">
            {% include 'partials/skills.html.twig' %}
        </div>

        {% include 'partials/projects.html.twig' %}

        {% include 'partials/quotes.html.twig' %}
    </div>

{% endblock %}
