{% extends 'Admin/baseAdmin.html.twig' %}

{% block title %}Ajouter une compétence{% endblock %}

{% block body %}
    <h1>Ajouter une compétence</h1>

    {% include 'partials/formSkills.html.twig' with {'title': 'Ajouter une compétence'} %}
{% endblock %}
