{% extends 'Admin/baseAdmin.html.twig' %}

{% block title %}Modifier une compétence{% endblock %}

{% block body %}
    <h1>Modifier une compétence</h1>

    {% include 'Admin/partials/formSkills.html.twig' with {'title': 'Modifier une compétence'} %}
{% endblock %}
