{% extends 'Admin/base_admin.html.twig' %}

{% block title %}Modifier une compétence{% endblock %}

{% block body %}
    <h1>Modifier une compétence</h1>

    {% include 'Admin/partials/_form_skills.html.twig' with {'title': 'Modifier une compétence'} %}
{% endblock %}
