{% extends 'Admin/base_admin.html.twig' %}

{% block title %}Ajouter un projet{% endblock %}

{% block body %}
    <h1>Ajouter un projet</h1>

    {% include 'Admin/partials/_form_projects.html.twig' with {'title': 'Ajouter'} %}
{% endblock %}
