{% extends 'Admin/baseAdmin.html.twig' %}

{% block title %}Ajouter un projet{% endblock %}

{% block body %}
    <h1>Ajouter un projet</h1>

    {% include 'partials/formProjects.html.twig' with {'title': 'Ajouter'} %}
{% endblock %}
