{% extends 'Admin/base_admin.html.twig' %}

{% block title %}Modifier un projet{% endblock %}

{% block body %}
    <h1>Modifier un projet</h1>

    {% include 'Admin/partials/_form_projects.html.twig' with {'title': 'Modifier'} %}
{% endblock %}
