<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% if not isDemo %}
            <link rel="icon" href="{{ asset('icons/logo.ico') }}">
        {% endif %}
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% if isDemo %}
            <div class="position-fixed top-0 start-0 w-100 bg-danger text-white d-flex align-items-center px-4 py-2 shadow-sm z-3" style="height: 50px;">
                <div class="fw-semibold flex-grow-1 text-center">
                    <img src="{{ asset('pictures/test_tube.png') }}" width="30" alt="test_tube">
                    <span class="ms-2 align-middle">Vous êtes actuellement en mode démo.</span>
                </div>
                <div class="align-items-end">
                    <a href="{{ path('app_admin') }}" class="btn btn-success">Accéder à l’administration</a>
                </div>
            </div>
        {% endif %}
        <div class="bg-white {% if isDemo %}mt-5{% endif %}">
            {% include 'partials/_flash.html.twig' %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
