{% extends 'base.html.twig' %}

{% block title %}Modifier une citation{% endblock %}

{% block body %}
    <h1>Modifier une citation</h1>

    {% include 'partials/formQuotes.html.twig' with {'title': 'Modifier'} %}
{% endblock %}

