{% extends 'Admin/base_admin.html.twig' %}

{% block title %}Modifier une citation{% endblock %}

{% block body %}
    <h1>Modifier une citation</h1>

    {% include 'Admin/partials/_form_quotes.html.twig' with {'title': 'Modifier'} %}
{% endblock %}

